@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image:url(img1.jpg);
    backdrop-filter:blur(2px);
    user-select: none;
}
.book {
    width: 700px;
    height: 500px;
    perspective: 1500px;
    position: relative;
}
.page {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    transform-origin: left center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    backface-visibility: hidden;
    background-color:white;
    border: 1px solid #ddd;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.a1{
    box-shadow: 0px 0px 50px black inset;
    overflow:hidden;
}
.back {
    transform: rotateY(180deg);
   
}
.page:nth-child(1) { z-index: 6; }
.page:nth-child(2) { z-index: 5; }
.page:nth-child(3) { z-index: 4; }
.page:nth-child(4) { z-index: 3; }
.page:nth-child(5) { z-index: 2; }
.page:nth-child(6) { z-index: 1; }
.flipped {
    transform: rotateY(-180deg);
}
.blue{
    height:80px;
    width:380px;
    background-image: linear-gradient(to right,rgb(0, 255, 123),rgb(7, 124, 219));
    transform: rotate(-15deg);
    position: absolute;
    top:-40px;
    z-index:99;
}
.blue1{
    height:60px;
    width:550px;
    transform: rotate(40deg);
    background-image: linear-gradient(to right,rgb(0, 255, 123),rgb(7, 7, 219));
    border-top:8px solid white;
    position: absolute;
    top:190px;
    z-index:98;
}
.backg{
    height:300px;
    width:400px;
    position: absolute;
    top:-30px;
    left:70px;
    transform: rotate(40deg);
    overflow: hidden;
}
.img1{
    height:400px;
    width:500px;
    transform: rotate(-40deg);
    position: absolute;
    top:0px;
    backdrop-filter:blur(10px);
    box-shadow: 0px 0px 10px black inset;
}
.img2{
    height:350px;
    width:350px;
    position: absolute;
    top:-10px;
    left:20px;
    transform: rotate(-40deg);
}
.logo{
    height:140px;
    width:170px;
    z-index:101;
    position: absolute;
    bottom:80px;
}
.iics{
    font-family:Arial Black;
    letter-spacing:-2px;
    font-size:25px;
    position: absolute;
    top:420px;
}
.yellowframe{
    height:200px;
    width:200px;
    background:rgb(255, 213, 0);
    /* border-radius: 50%; */
    transform: rotate(40deg);
    position: absolute;
    left:-120px;
    bottom:110px;
}
.year2024{
    bottom:205px;
    left:15px;
    color: white;
    text-shadow:0px 0px 10px black;
}
.year2024,.mycollege,.iics1,.address{
    position: absolute;
    font-family:Arial Black;
    letter-spacing:-2px;
    font-size:25px;
}
.mycollege,.iics1,.address{
    top:40px;
    color: rgb(30, 30, 30);
    text-shadow:0px 0px 10px yellow;
}
.addmission{
    height:25px;
    width:160px;
    border-radius:20px;
    background-color:black;
    position: absolute;
    bottom:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Arial Black;
    color: white;
    font-size:12px;
    letter-spacing:1px;
    text-shadow:0px 0px 10px black;
    background-image: linear-gradient(to right,rgb(0, 255, 123),rgb(7, 124, 219));
}
.logo2{
    height:160px;
    width:195px;
}
.author{
    position: absolute;
    bottom:50px;
}
.collegephoto{
    height:280px;
    width:220px;
    box-shadow:0px 0px 10px rgb(253, 2, 2);
    position: absolute;
    top:90px;
}
.iics1{
    position:absolute;
    top:380px;
}
.address{
    position: absolute;
    top:430px;
    letter-spacing:0px;
    font-size:12px;
    text-shadow: none;
    text-align: center;
    color: deeppink;
}
.Educate{
    font-family:arial;
    color:darkblue;
    position: absolute;
    top: 30px;
}
.bca,.mca{
    font-family:Arial Black;
    font-size:25px;
    color: red;
    font-weight: bold;
    text-shadow: 0px 0px 2px white;
}    
.bca{    
    position: absolute;
    top:60px;
    left:90px;
}
.mca{
    position: absolute;
    right:90px;
    top:60px;
}
.pencil{
    height:250px;
    width:100px;
    position: absolute;
    top:100px;
    z-index:110;
}
.course,.BBA,.MBA,.MCOM,.BSC,.BCOM,.BSC1,.MSC,.php,.tally,.olevel,.ccc{
    height:40px;
    width:130px;
    font-family:Arial Black;
    font-size:20px;
    color:white;
    font-weight: bold;
    text-align: center;
    padding-top:5px;
    padding-left:5px;
    text-shadow: 0px 0px 5px black;
}
.course,.MBA,.MCOM,.BSC{
    position: absolute;
    top:120px;
    left:30px;
    background-color: rgb(0, 0, 37);
    border-top-left-radius:80px;
    border-bottom-left-radius:80px;
}
.MBA{
    position: absolute;
    top:160px;
    background-color: rgb(0, 145, 255);
}
.MCOM{
    position: absolute;
    top:200px;
    background-color: rgb(255, 183, 0);
}
.BSC{
    position: absolute;
    top:240px;
    background-color:rgb(2, 0, 98);
}
.BBA,.BCOM,.BSC1,.MSC{
    position: absolute;
    top:120px;
    right:30px;
    background-color: red;
    border-top-right-radius:80px;
    border-bottom-right-radius:80px;
    padding-right:10px;
}
.BCOM{
    position: absolute;
    top:160px;
    background-color:yellow;
}
.BSC1{
    position: absolute;
    top:200px;
    background-color:rgb(2, 0, 98);
}
.MSC{
    position: absolute;
    top:240px;
    background-color:rgb(0, 0, 37);
}
.php,.tally,.olevel,.ccc{
    height:40px;
    width:320px;
    font-size:18px;
    padding-top:9px;
    padding-left:0px;
}
.php,.olevel{    
    position: absolute;
    bottom:120px;
    left:0px;
    background-color:rgb(135, 5, 5);
    border-top-right-radius:80px;
    border-bottom-right-radius:80px;
}
.tally,.ccc{
    position: absolute;
    bottom:75px;
    right:0px;
    border-top-left-radius:80px;
    border-bottom-left-radius:80px;
    background-color:rgb(0, 0, 65);
}
.olevel{
    position: absolute;
    bottom:30px;
    width:160px;
    background-color: rgb(210, 5, 5);
}
.ccc{
    position: absolute;
    bottom:30px;
    width:160px;
    background-color: rgb(210, 5, 5);
}
.welcome{
    font-family: arial black;
    font-size:14px;
    font-weight:bold;
    text-align: center;
    position: absolute;
    top:30px;
    color:rgb(1, 1, 73);
}
.discription{
    text-align: justify;
    font-family:arial;
    font-size:12.5px;
    margin-top:40px;
}
.discription span{
    font-weight:bold;
}
.maptext,.contact,.view360text,.officetext,.labtext,.social,.placements{
    font-family: arial black;
    font-size:16px;
    font-weight:bold;
    position: absolute;
    top:20px;
    left:10px;
}
.map1{
    height:220px;
    width:330px;
    overflow: hidden;
    position: absolute;
    top:50px;
}
.map{
    height:100%;
    width:100%;
}
#a{
    display:inline-block;
}
.contact{
    position: absolute;
    top:300px;
}
.mob{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top:330px;
    left:20px;
    color: blue;
}
.web{
    position: absolute;
    top:360px;
    left:20px;
}

.view360{
    height:400px;
    width:330px;
}
.view360text,.labtext{
    color: red;
}
.next{
    position: absolute;
    bottom:5px;
    right:15px;
    font-family: arial;
    
}
.office{
    position: relative;
    top:-10px;
    height:200px;
    width:330px;
}
.sliderbox{
    height:100%;
    width:100%;
    box-shadow:0px 0px 10px black;
}
img{
    height:100%;
    width:100%;
}
.officetext{
    position: absolute;
    top:10px;
    left: auto;
    color: red;
}
.lab{
    position: relative;
    top:30px;
    height:200px;
    width:330px;
}
.labtext{
    position: absolute;
    top:245px;
    left:auto;
}
.social{
    position: absolute;
    left: auto;
    color:red;
    text-shadow:0px 0px 10px red;
    z-index:12;
}
.youtube{
    height:200px;
    width:200px;
    position: absolute;
    top:35px;
    z-index:10;
}
.youtubetext,.instagramtext,.thankyou{
    height:40px;
    width:130px;
    font-family:Arial Black;
    font-size:20px;
    color:white;
    background-color: red;
    font-weight: bold;
    text-align: center;
    padding-top:5px;
    padding-left:5px;
    text-shadow: 0px 0px 5px black;
    z-index:11;
    box-shadow:0px 0px 10px red;
}
.youtubetext{
    position: absolute;
    top:230px;
}
.instagram{
    height:150px;
    width:150px;
    position: absolute;
    top:280px;
}
.instagramtext{
    position: absolute;
    bottom:20px;
}
.yellowframe2{
    height:50px;
    width:350px;
    background-color: rgb(255, 225, 0);
    position: absolute;
    top: 0%;
}
.aquaframe1{
    height:200px;
    width:200px;
    background-image: linear-gradient(to right,rgb(0, 255, 123),rgb(7, 124, 219));
    transform: rotate(-35deg);
    position: absolute;
    top:-25px;
    right:-170px;
    border-top:8px solid white;
    z-index:20;
}
.aquaframe2{
    height:200px;
    width:180px;
    background-image: linear-gradient(to right,rgb(0, 255, 123),rgb(7, 124, 219));
    transform: rotate(-40deg);
    position: absolute;
    bottom:20px;
    left:-100px;
    border-bottom:8px solid white;
    z-index:19;
}
.yellowframe3{
    height:200px;
    width:200px;
    background-color: rgb(255, 225, 0);
    position: absolute;
    bottom: -165px;
    left:-20px;
    transform: rotate(50deg);
}   
.cap{
    height:30px;
    width:50px;
    position: absolute;
    top:80px;
    left:25px;
} 
.education{
    font-family:Arial Black;
    font-size:18px;
    color:black;
    font-weight: bold;
    position: absolute;
    top:75px;
    left:80px;
}
.image1{
    height:210px;
    width:350px;
    position: absolute;
    top:120px;
    z-index:10;
    border:8px solid rgb(255, 183, 0);
}
.image1 img{
    height:100%;
    width:100%;
}
.skilltext{
    font-family:Arial Black;
    font-size:15px;
    color:black;
    position: absolute;
    bottom:50px;
    left:100px;
}
.thankyou{
    position: absolute;
    bottom:0px;
    right:0px;
    height: 35px;
    border-radius:10px;
}
.education2{
    position: absolute;
    top:95px;
    font-family:arial;
    left:82px;
    font-size:12px;
}